.main-header {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    margin-left: 0.5em;
}

form input {
    height: 30px;
    border-color: #494949;
}

form input::placeholder {
    font-size: 0.9rem;
}